body{
    background-image: url('bg image 2.jpg');
    font-size: 15px;
}
h1{text-align: center;
color:azure}
table{
    background-color: burlywood;
    margin-left:155px;
    margin-right:300px;
    margin-top: 40px;
}
tr{
    height: 10px;
}
.term{
    background-color:white;
}